$background-color-body: #f5f6fa;
$background-color-header: #182C61;
$background-color-button: #44bd32;
$background-color-button-hover: #4cd137;
$color-text-light: #fff;

$max-width-container: 1024px;
$padding-container: 16px 0;
$grid-gap-columns: 1%;
$grid-gap-rows: 4%;
$grid-template-columns: repeat(3, 32.66%);
$border-radius-img: 16px;
$padding-button: 8px 0;
$margin-button-top: 8px;
$border-radius-button: 8px;
$media-query-max-width-large: 1023px;
$media-query-max-width-medium: 767px;
$max-width-container-responsive: 80%;
$grid-template-columns-responsive: repeat(2, 48.5%);
$grid-gap-columns-responsive: 3%;
$margin-bottom-product-item: 32px;
